# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
tensorflow==2.13.0
keras==2.13.1
numpy==1.23.5